<div id="submit-work">
  <h1>作品提交</h1>

  <div class="work-form-container">
    <%= form_for :work do |f| %>
      <div class="form-group">
        <div><%= f.label :team, "队伍名称" %></div>
        <div><%= f.text_field :team, placeholder: "请输入队伍名称" %></div>
      </div>

      <div class="form-group">
        <div><%= f.label :title, "作品名称" %></div>
        <div><%= f.text_field :title, placeholder: "请输入参赛作品名称" %></div>
      </div>

      <div class="form-group">
        <div><%= f.label :introduction, "作品简介" %></div>
        <div><%= f.text_area :introduction, placeholder: "请向我们介绍您们的作品，比如作品所解决的问题、解决的方式以及其可预期的价值等", rows: '5' %></div>
      </div>

      <div class="form-group">
        <%= f.button "提交", type: :submit, data: {confirm: "确认提交？", disable_with: "正在提交中"}, class: 'button submit' %>
        <%= f.button "重置", type: :reset, class: 'button reset'  %>
      </div>
    <% end %>
  </div>
</div>
