<div id="team-members">
  <ul id="members-list">
    <!-- BEGIN: 第一行头像 -->
    <%= team_member "嘉豪", "总打杂，没人写代码的时候写代码，没人写文案的时候写文案，没人拉口条的时候拉口条", "jiahao" %>

    <%= team_member "嘉雯", "首席文案君，曾在颜值APP中获得918万/1000万的高分并引（dao）以（chu）为（xuan）豪（yao）", "jiawen" %>

    <%= team_member "蛋哥", "没有跆拳道黑带的门将不是好程序员", "dange" %>

    <%= team_member "小黑", "脸大到总是挡住wifi信号的呆萌设计尸", "xiaohei" %>

    <%= team_member "鑫磊", "搬砖的，据老大说是除了他之外颜值最高的，不服来打我脸啊", "xinlei" %>

    <%= team_member "张帆 Mercy", "主要技能宣传排版写文案，偶尔脑洞大开干点“不切实际”的事，喜欢和具有生命力的人一起工作", "zhangfan" %>

    <%= team_member "罗丹", "打杂小二一个，和那个雕塑家没半毛钱关系(沉思状...)", "luodan" %>

    <%= team_member "Cheman", "一枚感性创业的小六", "cheman" %>

    <%= team_member "大力", "笔耕不辍练出了肌肉方便日后扛相机的大力", "dali" %>
    <!-- END: 第一行头像 -->

    <!-- BEGIN: 第二行头像 -->
    <%= team_member "嘉豪", "总打杂，没人写代码的时候写代码，没人写文案的时候写文案，没人拉口条的时候拉口条", "jiahao" %>

    <%= team_member "嘉雯", "首席文案君，曾在颜值APP中获得918万/1000万的高分并引（dao）以（chu）为（xuan）豪（yao）", "jiawen" %>

    <%= team_member "蛋哥", "没有跆拳道黑带的门将不是好程序员", "dange" %>

    <%= team_member "小黑", "脸大到总是挡住wifi信号的呆萌设计尸", "xiaohei" %>

    <%= team_member "鑫磊", "搬砖的，据老大说是除了他之外颜值最高的，不服来打我脸啊", "xinlei" %>

    <%= team_member "张帆 Mercy", "主要技能宣传排版写文案，偶尔脑洞大开干点“不切实际”的事，喜欢和具有生命力的人一起工作", "zhangfan" %>

    <%= team_member "罗丹", "打杂小二一个，和那个雕塑家没半毛钱关系(沉思状...)", "luodan" %>

    <%= team_member "Cheman", "一枚感性创业的小六", "cheman" %>

    <%= team_member "大力", "笔耕不辍练出了肌肉方便日后扛相机的大力", "dali" %>
    <!-- END: 第二行头像 -->

    <!-- BEGIN: 第三行头像 -->
    <%= team_member "嘉豪", "总打杂，没人写代码的时候写代码，没人写文案的时候写文案，没人拉口条的时候拉口条", "jiahao" %>

    <%= team_member "嘉雯", "首席文案君，曾在颜值APP中获得918万/1000万的高分并引（dao）以（chu）为（xuan）豪（yao）", "jiawen" %>

    <%= team_member "蛋哥", "没有跆拳道黑带的门将不是好程序员", "dange" %>

    <%= team_member "小黑", "脸大到总是挡住wifi信号的呆萌设计尸", "xiaohei" %>

    <%= team_member "鑫磊", "搬砖的，据老大说是除了他之外颜值最高的，不服来打我脸啊", "xinlei" %>

    <%= team_member "张帆 Mercy", "主要技能宣传排版写文案，偶尔脑洞大开干点“不切实际”的事，喜欢和具有生命力的人一起工作", "zhangfan" %>

    <%= team_member "罗丹", "打杂小二一个，和那个雕塑家没半毛钱关系(沉思状...)", "luodan" %>

    <%= team_member "Cheman", "一枚感性创业的小六", "cheman" %>

    <%= team_member "大力", "笔耕不辍练出了肌肉方便日后扛相机的大力", "dali" %>
    <!-- END: 第三行头像 -->
  </ul>

  <div class="clearfix members-clearfix"></div>
</div>
