<div id="team-members">
  <ul id="members-list">
    <%= team_member "嘉豪", "总打杂，没人写代码的时候写代码，没人写文案的时候写文案，没人拉口条的时候拉口条", "jiahao" %>

    <%= team_member "嘉雯", "首席文案君，曾在颜值APP中获得918万/1000万的高分并引（dao）以（chu）为（xuan）豪（yao）", "jiawen" %>

    <%= team_member "蛋哥", "没有跆拳道黑带的门将不是好程序员", "dange" %>

    <%= team_member "小黑", "脸大到总是挡住wifi信号的呆萌设计尸", "xiaohei" %>

    <%= team_member "鑫磊", "搬砖的，据老大说是除了他之外颜值最高的，不服来打我脸啊", "xinlei" %>

    <%= team_member "张帆 Mercy", "主要技能宣传排版写文案，偶尔脑洞大开干点“不切实际”的事，喜欢和具有生命力的人一起工作", "zhangfan" %>

    <%= team_member "罗丹", "打杂小二一个，和那个雕塑家没半毛钱关系(沉思状...)", "luodan" %>

    <%= team_member "Cheman", "一枚感性创业的小六", "cheman" %>

    <%= team_member "大力", "笔耕不辍练出了肌肉方便日后扛相机的大力", "dali" %>

    <%= team_member "Martin", "Ruby工程师，常出没于各类线下技术社区" %>

    <%= team_member "阿八", "2.5次元光怪陆离爱问为什么星人。就是只打杂样样行励志成为游戏王的女人~" %>

    <%= team_member "郭海旋", "小菜鸟，要默默的farm" %>

    <%= team_member "章以迪", "坚决听命外联小组长的指挥，仗着英文还行专门负责勾搭外国友人寻求合作机会" %>

    <%= team_member "尼克菌", "什么都要试一试结果最后死于食物中毒。不不不我不是神农谢谢" %>

    <%= team_member "Yolo", "爱动漫和小说的骨灰级宅" %>

    <%= team_member "Zed", "请不要叫我程序猿，我不是修电脑的。我的使命是改变世界！请跟紧我的脚步，来，先搬了这堆砖！" %>

    <%= team_member "busyzhong", "来自中大，学渣一枚；没智商，有技； 好吃，懒做；睡，玩。" %>

    <%= team_member "chaucerling", "我叫刘绍能，华工大三的学生，喜欢web开发，希望发挥一技之长让广州更美好" %>

    <%= team_member "青芽", "技术组酱油党一枚。本科即将毕业但最近仍在学校附近迷路，对此感到无限自卑中" %>

    <%= team_member "Tony Han", "基本上技能点就剩写代码了，顺带跟产品经理吵吵架什么的" %>

    <%= team_member "Jackie Xia", "想做社会主义螺丝钉然而并没有什么卵用的宣传部员" %>

    <%= team_member "高佬", "中意行下巷仔影下相 ，开左间“士多”卖啲无用既嘢，企图从精神层面捍卫城市最基本既特质" %>

    <!--<%= team_member "周老师", "精神上的90后，专业媒体人&摄影师，主要任务是设计灯布和印海报" %>-->

    <%= team_member "王二狗", "策划。日常是读书睡觉写文案，然而参加这个活动我一个代码都不会打" %>

    <%= team_member "辉浩", "嘿，你个diao毛！" %>

    <%= team_member "唐毅俊", "然而这并没有什么卵用" %>

    <%= team_member "Bruce", "专注前端五十年！" %>

    <%= team_member "许晓雯", "除了产品设计什么都懂一点点的产品菜鸟兼业余PR" %>
  </ul>

  <div class="clearfix members-clearfix"></div>
</div>
