<header>
  <div class="logo">
    <a href="javascript:;">HACK FOR GZ</a>
  </div>
  <nav>
    <ul>
      <li><a href="javascript:;">比赛介绍</a></li>
      <li><a href="javascript:;">主题了解</a></li>
      <li><a href="javascript:;">现场图集</a></li>
    </ul>
  </nav>
</header>

<section class="introduction-banner">
  <div id="js_slider" class="slider">
    <!-- Slides Container -->
    <div u="slides" class="slider-inner" style="">
      <div>
        <%= image_tag "homepage-slider-1.jpg", u: "image" %>
      </div>
      <div>
        <%= image_tag "homepage-slider-2.jpg", u: "image" %>
        <a class="signup_button" href="http://omg.com">
          <div>报名参赛</div>
        </a>
      </div>
      <!--<div u="image" class="homepage-slider-1"></div>
      <div u="image" class="homepage-slider-2"></div>-->
    </div>
    <!-- bullet navigator container -->
    <div u="navigator" class="slider-navigator">
      <!-- bullet navigator item prototype -->
      <div u="prototype"></div>
    </div>
    <!-- #endregion Bullet Navigator Skin End -->
  </div>
</section>

<section class="who-we-are">
  <div class="column-title">
    <div class="abstract">
      <p class="title">Who We Are</p>
      <p>我们是 gzhack，源自于广州技术社区、高校和公益组织的草根团队。</p>
      <p>我们希望在广州推广 hacker 文化和精神，推动更多的创新创造。</p>
      <p>我们举办讲座、工作坊、创客马拉松……</p>
      <p>今年，我们关注开放数据和公共数据，通过数据，建设我们的智慧广州。</p>
    </div>
  </div>
  <!--<div class="column-content">
  </div>-->
</section>

<section class="open-source">
  <div class="column-title">
    开源项目进展
  </div>
  <div class="column-subtitle">
    These are open Github Issues labeled with "help wanted" from across the civic technology movement.
  </div>
  <div class="open-source-content">
    <div class="open-source-project-progress clearfix"></div>

    <div class="show-all-project">
      <div class="articles">
        <p><a href="">* 什么是开源项目</a></p>
        <p><a href="">* 无需写代码，8种方式让你参与开源项目</a></p>
      </div>
      <a href="http://github.com/gzhack" class="show-all-project-btn">查看所有项目</a>
    </div>
  </div>

</section>

<section id="faq">
  <h3 class="title">常见问题</h3>
  <div class="tabs">
    <div class="tab contest active" data-content="contest">比赛</div>
    <div class="tab signup" data-content="signup">报名</div>
    <div class="tab food" data-content="food">食宿</div>
    <div class="tab misc" data-content="misc">其他</div>
  </div>
  <div class="contents">
    <div class="content contest active">
      <div class="q-item odd">
        <div class="q-mark">?</div>
        <div class="q-body">
          <div class="question">谁能参加比赛？</div>
          <div class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
        </div>
      </div>
      <div class="q-item">
        <div class="q-mark">?</div>
        <div class="q-body">
          <div class="question">谁能参加比赛？</div>
          <div class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
        </div>
      </div>
      <div class="q-item odd">
        <div class="q-mark">?</div>
        <div class="q-body">
          <div class="question">谁能参加比赛？</div>
          <div class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
        </div>
      </div>
    </div>
    <div class="content signup">
      <div class="q-item odd">
        <div class="q-mark">?</div>
        <div class="q-body">
          <div class="question">谁能参加比赛？</div>
          <div class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
        </div>
      </div>
      <div class="q-item">
        <div class="q-mark">?</div>
        <div class="q-body">
          <div class="question">谁能参加比赛？</div>
          <div class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
        </div>
      </div>
      <div class="q-item odd">
        <div class="q-mark">?</div>
        <div class="q-body">
          <div class="question">谁能参加比赛？</div>
          <div class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
        </div>
      </div>
    </div>
    <div class="content food">
      <div class="q-item odd">
        <div class="q-mark">?</div>
        <div class="q-body">
          <div class="question">谁能参加比赛？</div>
          <div class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
        </div>
      </div>
      <div class="q-item">
        <div class="q-mark">?</div>
        <div class="q-body">
          <div class="question">谁能参加比赛？</div>
          <div class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
        </div>
      </div>
      <div class="q-item odd">
        <div class="q-mark">?</div>
        <div class="q-body">
          <div class="question">谁能参加比赛？</div>
          <div class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
        </div>
      </div>
    </div>
    <div class="content misc">
      <div class="q-item odd">
        <div class="q-mark">?</div>
        <div class="q-body">
          <div class="question">谁能参加比赛？</div>
          <div class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
        </div>
      </div>
      <div class="q-item">
        <div class="q-mark">?</div>
        <div class="q-body">
          <div class="question">谁能参加比赛？</div>
          <div class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
        </div>
      </div>
      <div class="q-item odd">
        <div class="q-mark">?</div>
        <div class="q-body">
          <div class="question">谁能参加比赛？</div>
          <div class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="partners">
  <div class="category sponsor">
    <div class="subtitle">主办方</div>
    <div class="content">
      <span>广州大学城管理委员会</span>
      <span>广州创客马拉松组委会</span>
    </div>
  </div>
  <div class="category">
    <div class="subtitle">承办方</div>
    <div class="content">
      <%= image_tag "partners/organizers.png", class: "logo" %>
    </div>
  </div>
  <div class="category">
    <div class="subtitle">赞助商</div>
    <div class="content">
      <%= image_tag "partners/chaosuan.jpg", class: "logo" %>
    </div>
  </div>
  <div class="category">
    <div class="subtitle">开放数据合作伙伴</div>
    <div class="content">
      <%= image_tag "partners/data-partners.png", class: "logo" %>
    </div>
  </div>
  <div class="category community">
    <div class="subtitle">社区合作伙伴</div>
    <div class="content">
      <%= image_tag "partners/community-partners.png", class: "logo" %>
    </div>
  </div>
</section>

<script>
  var headerElem = document.getElementsByTagName('header')[0];
  var bannerElem = document.querySelector('.introduction-banner');
  var windowHeight = window.innerHeight;
  var headerHeight = headerElem.offsetHeight;

  bannerElem.style.height = (windowHeight - headerHeight) + 'px';

  var options = {
    //$AutoPlay: true,
    $PauseOnHover: 0,
    $Duration: 1000,
    $FillMode: 2,
    $BulletNavigatorOptions: {
      $Class: $JssorBulletNavigator$,
      $ChanceToShow: 2
    }
  };
  var jssor_slider = new $JssorSlider$('js_slider', options);
</script>

<footer>

</footer>
