<header>
  <div class="logo">
    <a href="javascript:;">HACK FOR GZ</a>
  </div>
  <nav>
    <ul>
      <li><a href="javascript:;">比赛介绍</a></li>
      <li><a href="javascript:;">主题了解</a></li>
      <li><a href="javascript:;">现场图集</a></li>
    </ul>
  </nav>
</header>

<section class="introduction-banner">
  <div id="js_slider" class="slider">
    <!-- Slides Container -->
    <div u="slides" class="slider-inner" style="">
      <div>
        <%= image_tag "homepage-slider-1.jpg", u: "image" %>
      </div>
      <div>
        <%= image_tag "homepage-slider-2.jpg", u: "image" %>
        <a class="signup_button" href="http://omg.com">
          <div>报名参赛</div>
        </a>
      </div>
      <!--<div u="image" class="homepage-slider-1"></div>
      <div u="image" class="homepage-slider-2"></div>-->
    </div>
    <!-- bullet navigator container -->
    <div u="navigator" class="slider-navigator">
      <!-- bullet navigator item prototype -->
      <div u="prototype"></div>
    </div>
    <!-- #endregion Bullet Navigator Skin End -->
  </div>
</section>

<section class="who-we-are">
  <div class="column-title">
    <div class="abstract">
      <p class="title">Who We Are</p>
      <p>我们是 gzhack，源自于广州技术社区、高校和公益组织的草根团队。</p>
      <p>我们希望在广州推广 hacker 文化和精神，推动更多的创新创造。</p>
      <p>我们举办讲座、工作坊、创客马拉松……</p>
      <p>今年，我们关注开放数据和公共数据，通过数据，建设我们的智慧广州。</p>
    </div>
  </div>
  <!--<div class="column-content">
  </div>-->
</section>

<section class="open-source">
  <div class="column-title">
    开源项目进展
  </div>
  <div class="column-subtitle">
    These are open Github Issues labeled with "help wanted" from across the civic technology movement.
  </div>
  <div class="open-source-content">
    <div class="open-source-project-progress clearfix">
      <div class="project-item">
        <a class="wrapper" href="https://github.com/gzhack/bike-map/issues/1">
          <p class="name">Bike-map</p>
          <h3 class="issue-title">查找数据来源</h3>
          <div class="labels">
            <div class="label">help wanted</div>
            <div class="label">数据源</div>
          </div>
        </a>
      </div>
      <div class="project-item">
        <h6>开源组织</h6>
        <h3><a href="https://github.com/gzhack/">GZHACK repos</a></h3>
      </div>
      <div class="project-item">
        <h6>项目想法</h6>
        <h3><a href="http://wifimap.herokuapp.com/">Wifi 领养计划</a></h3>
      </div>
      <div class="project-item">
        <h6>合作帮助</h6>
        <h3><a href="mailto:pr@gzhack.io">联系我们</a></h3>
      </div>
    </div>

    <div class="show-all-project">
      <div class="articles">
        <p><a href="">* 什么是开源项目</a></p>
        <p><a href="">* 无需写代码，8种方式让你参与开源项目</a></p>
      </div>
      <a href="http://github.com/gzhack" class="show-all-project-btn">查看所有项目</a>
    </div>
  </div>

</section>

<section class="partners">
  <div class="column-title">
    <h2>合作伙伴</h2>
  </div>
  <div class="partners-logos">
    <a href="http://www.nscc-gz.cn/"><%= image_tag "partners/chaosuanzhongxin.png", class: "logo" %></a>
    <a href="https://www.youmi.net/"><%= image_tag "partners/youmi.png", class: "logo" %></a>
    <a href="http://www.6cit.com"><%= image_tag "partners/6cit.jpg", class: "logo" %></a>
    <a href="https://seoul.globalhackathon.io/"><%= image_tag "partners/global_hackathon.png", class: "logo" %>

    <a href="http://air.epmap.org/"><%= image_tag "partners/qingyue.png", class: "logo" %></a>
    <a href="http://opendatachina.com/"><%= image_tag "partners/open_data_china.jpg", class: "logo" %></a>
    <a href="http://www.code4.hk/"><%= image_tag "partners/code4hk.png", class: "logo" %></a>
    <a href="http://www.udparty.com/"><%= image_tag "partners/urban_data_party.jpg", class: "logo" %></a>

    <a href="http://beansmile.com/"><%= image_tag "partners/beansmile.png", class: "logo" %></a>
    <a href="http://startupgrind.com/guangzhou/"><%= image_tag "partners/startupgrind_gz.jpg", class: "logo" %></a>
    <a href="http://techparty.org/"><%= image_tag "partners/techparty.png", class: "logo" %></a>
    <a href="http://www.ifanr.com/"><%= image_tag "partners/ifanr.jpg", class: "logo" %></a>
  </div>
</section>

<script>
  var headerElem = document.getElementsByTagName('header')[0];
  var bannerElem = document.querySelector('.introduction-banner');
  var windowHeight = window.innerHeight;
  var headerHeight = headerElem.offsetHeight;

  bannerElem.style.height = (windowHeight - headerHeight) + 'px';

  var options = {
    //$AutoPlay: true,
    $PauseOnHover: 0,
    $Duration: 1000,
    $FillMode: 2,
    $BulletNavigatorOptions: {
      $Class: $JssorBulletNavigator$,
      $ChanceToShow: 2
    }
  };
  var jssor_slider = new $JssorSlider$('js_slider', options);
</script>

<footer>

</footer>
