<!DOCTYPE html>
<html>
<head>
  <title>2015 第二届广州创客马拉松 | Hack for GZ</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="<%= asset_path("favicon.png") %>">
</head>
<body>
<%= render 'layouts/header' %>

<%= render 'layouts/flash_messages' %>

<%= yield %>

</body>
</html>
